body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}
form{
  width: 100%;
  height: 100%
}

.App{
  min-width: 1440px;
  min-height:100vh ;
  max-width: 1440px;
}

.home{
  width: 100%;
  min-width: none;
  min-height:100vh;
  background-image: url(./assets/pexels-pixabay-358319.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.heroSection{
  width: 90%;
  height: 50vh;
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.visa{
  margin-left: 250px;
  
}

.cardId{
  font-size: 1rem;
  letter-spacing: 0.6rem;
}